#fancyIcons {
	height: auto;

	div[class*="col-"] {
		height: 280px;
		background: #bca569;
		border-right: 1px solid #000;

		@media screen and (max-width: 768px) {
			height: 180px;
		}

		&:last-child {
			border-right: none;
		}

		@media screen and (max-width: 768px) {
			border-right: none;
			border-bottom: 1px solid #000;
		}
	}
}